.heartContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    input {
        position: absolute;
        z-index: 1;
        margin: 0;
        opacity: 0;
        
    }

    .fa-regular {
        opacity: 1;
        position: absolute;

    }

    .fa-solid {
        opacity: 0;
        position: absolute;
        color: $primary-color;

    }
    :checked ~ .fa-regular {
        opacity: 0;
        transition: opacity 0.8s ease;

    }

    :checked ~ .fa-solid {
        opacity: 1;
        transition: opacity 2s ease;
    }
}



.heartContainer_restau {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-size: 25px;    
    input {
        position: absolute;
        z-index: 1;
        margin: 0;
        opacity: 0;
        
    }

    .fa-regular {
        opacity: 1;
        position: absolute;

    }

    .fa-solid {
        opacity: 0;
        position: absolute;
        color: $primary-color;

    }
    :checked ~ .fa-regular {
        opacity: 0;
        transition: opacity 0.8s ease;

    }

    :checked ~ .fa-solid {
        opacity: 1;
        transition: opacity 2s ease;

    }
}