.span_new {
    grid-area: 1 / 2 / 2 / 3;                
    @media (min-width: 720px) {
        grid-area: 1 / 2 / 2 / 3;
        } 
    align-self: center;
    text-align: center;
    color: Green ;
    background-color: #99E2D0;
    padding: 5px;
    margin-top: 25px;
    margin-left: -20px;
    width: 100%;
    border-radius:2px;
}