footer {
    div {
        background-color: #353535;
        display: flex;
        flex-direction: column;
        @media (min-width: 720px) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding-top: 50px;
        }
        i {
            margin-right: 2%;
            width: 5%;
        }
        a {
            @media (min-width : 720px) {
                text-align: center;
                align-self: center;
                margin-left: 15%;
            }
            color: white;
            margin-left: 5%;
            max-width: fit-content;
        }
        img {
            width: 100px;
            margin: 20px;
            @media (min-width : 720px) {
                grid-area: 1 / 5 / 2 / 6;
                margin: 20px;

            }
        }
    }
}