footer {
    div {
        background-color: #353535;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        @media (min-width: 720px) {
            display: grid;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding-top: 50px;
            padding-bottom: 15px;
            padding-left: 30%;
        }
        i {
            padding-right: 15px;
            width: 5%;
        }
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media (min-width : 720px) {
                text-align: center;
                align-self: center;
                font-size: 16px;
            }
            color: white;
            margin-left: 5%;
            max-width: fit-content;
            text-decoration: none;
        }
        img {
            width: 100px;
            margin: 20px;
            @media (min-width : 720px) {
                grid-area: 1 / 5 / 2 / 6;
                margin: 20px;

            }
        }
    }
}