.div_bg {
    height: 200px;
    @media (min-width : 720px) {
        height: 350px;
    }
    img {
        width: 100%;
        object-fit: cover;
        z-index: 1;
        position: relative;
        @media (min-width : 720px) {
            height:380px;
            object-fit: cover;
        }
    }
}



.menu {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Roboto, monospace;
    background-color: #F6F6F6;
    padding-top: 10px;
    border-radius: 50px;
    @media (min-width: 720px) {
        margin-left: 15%;
        margin-right: 15%;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 35px;
    }
    .section_title {
        display: flex;
        flex-direction: row;
        @media (min-width: 720px) {
            justify-content: center;
            align-items: center;
            text-align: center;
            align-self: center;
        }
        h2 {
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 5%;
            @media (min-width: 720px) {
                width: 500px;
                padding-left: 0px;
                font-size: 32px;

            }
            font-family: Shrikhand;
        }
    }

    .menu_list {
        h3 {
            
            font-size: 24px;
            font-weight: 200;
            margin-left: 5%;
            margin-top: 20px;
            margin-bottom: 0;
        }
            .menu-card{
            background-color: white;
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.10);
            display: flex;
            height: 65px;
            margin-bottom: 15px;
            margin-left: 5%;
            margin-right: 5%;

            label {
                display: flex;
                width: 100%;
                align-items: center;
                padding-left: 5%;
            }
            & :hover {
                cursor: pointer;
            }
            input[type="checkbox"]:checked ~ label .menu-checkmark{
                right: 5%;
                opacity: 1;
                @media (min-width: 720px) {
                    right: 17%;
                }
            }
            input[type="checkbox"]:checked ~ label .menu-price {
                transform: translateX(-55px);
              }
            .menu-info {
                .menu-title {
                    width: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 600;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                width: 90%;
                box-shadow: none;
                .menu-details {
                    width: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: smaller;
                    font-weight: 350;
                }
            }
            .menu-price {
                box-shadow: none;
                margin-right: 20px;
                margin-top: 20px;
                font-weight: 600;
                transition: all 0.3s ease;
            }
        }
        i{
            font-size: 135%;
            display: flex;
        }
        .underline {
            margin: 0;
            padding: 0;
            margin-left: 5%;
            margin-bottom: 5%;
            box-shadow: none;
            width: 50px;
            height: 5px;
            background-color: lightblue;
        }
    }
}


#menu_list_entrees {
    animation: apparition1 1s

}


#menu_list_plats {
    animation: apparition2 1.5s

}


#menu_list_desserts {
    animation: apparition3 2s

}

