.div_bg {
    height: 200px;
    @media (min-width : 720px) {
        height: 350px;
    }
    img {
        width: 100%;
        object-fit: cover;
        z-index: 1;
        position: relative;
        @media (min-width : 720px) {
            height:380px;
            object-fit: cover;
        }
    }
}



.menu {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Roboto, monospace;
    background-color: #F6F6F6;
    padding-top: 10px;
    border-radius: 50px;
    @media (min-width: 720px) {
        margin-left: 15%;
        margin-right: 15%;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 35px;
    }
    .section_title {
        display: flex;
        flex-direction: row;
        @media (min-width: 720px) {
            justify-content: center;
            align-items: center;
            text-align: center;
            align-self: center;
        }
        h2 {
            padding-left: 5%;
            @media (min-width: 720px) {
                padding-left: 0px;
                font-size: 32px;

            }
            font-family: Shrikhand;
        }
    }

    .menu_list {
        h4 {
            font-size: 24px;
            font-weight: 200;
            margin-left: 5%;
            margin-top: 20px;
            margin-bottom: 0;
        }
            .menu-card{
            background-color: white;
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.10);
            display: flex;
            height: auto;
            margin-bottom: 15px;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            label {
                display: flex;
                width: 100%;
            }
            & :hover {
                cursor: pointer;
            }
            input[type="checkbox"]:checked ~ label .menu-checkmark{
                right: 5%;
                opacity: 1;
                @media (min-width: 720px) {
                    right: 17%;
                }
            }
            input[type="checkbox"]:checked ~ label .menu-price {
                transform: translateX(-55px);
              }
            .menu-info {
                .menu-title {
                    font-weight: 600;
                }
                width: 500px;
                box-shadow: none;
                .menu-details {
                    font-size: smaller;
                    font-weight: 350;
                }
            }
            .menu-price {
                box-shadow: none;
                margin-right: 20px;
                margin-top: 20px;
                font-weight: 600;
                transition: all 0.3s ease;
            }
            .menu-checkmark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: none;
                    border-radius: 5px 15px 15px 5px;
                    background-color: #99E2D0;
                    color: white;
                    width: 60px;
                    height: 65px;
                    position: absolute;
                    margin-top: -10px;
                    right: -60px;
                    transition: all 0.3s ease, right 0.3s;
                    opacity: 0;
                    @media (min-width: 720px) {

                        right: 10%;
                    }
            }
        }
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        i{
            font-size: 135%;
        }
        .underline {
            margin: 0;
            padding: 0;
            margin-left: 5%;
            margin-bottom: 5%;
            box-shadow: none;
            width: 50px;
            height: 5px;
            background-color: lightblue;
        }
    }
}


