header {
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    flex-direction: row;
    .navbar {    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        a {
           grid-area: 1 / 1 / 2 / 2; 
           padding-left: 50px;
           padding-bottom: 2%;
           font-size: 25px;
           color: black;
        }
        img {   
                display: grid;
                grid-area: 1 / 2 / 2 / 3;
                width: 100%;
                justify-self: center;
                align-self: center;
                margin-bottom: 20px;
                max-width: 200px;
                @media (min-width: 720px) {
                   max-width: 200px;
                   justify-self: center;
                   align-self: center;

            } 
        }
    }

}

footer {
    div {
        background-color: #353535;
        display: flex;
        flex-direction: column;
        @media (min-width: 720px) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding-top: 50px;
        }
        i {
            margin-right: 2%;
            width: 5%;
        }
        a {
            @media (min-width : 720px) {
                text-align: center;
                align-self: center;
                margin-left: 15%;
            }
            color: white;
            margin-left: 5%;
            max-width: fit-content;
        }
        img {
            width: 100px;
            margin: 20px;
            @media (min-width : 720px) {
                grid-area: 1 / 5 / 2 / 6;
                margin: 20px;

            }
        }
    }
}

.div_bg {
    height: 200px;
    @media (min-width : 720px) {
        height: 350px;
    }
    img {
        width: 100%;
        object-fit: cover;
        z-index: 1;
        position: relative;
        @media (min-width : 720px) {
            height:380px;
            object-fit: cover;
        }
    }
}



.menu {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Roboto, monospace;
    background-color: #F6F6F6;
    padding-top: 10px;
    border-radius: 50px;
    @media (min-width: 720px) {
        margin-left: 15%;
        margin-right: 15%;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 35px;
    }
    .section_title {
        display: flex;
        flex-direction: row;
        @media (min-width: 720px) {
            justify-content: center;
            align-items: center;
            text-align: center;
            align-self: center;
        }
        h2 {
            padding-left: 5%;
            @media (min-width: 720px) {
                padding-left: 0px;
                font-size: 32px;

            }
            font-family: Shrikhand;
        }
        button {
            align-items: center;
            justify-content: center;
            height: 40px; 
            margin-left: 20px;
            border: none;
            input {
                font-size: 30px;
                padding-top: 20px;
                position: absolute;
                @media (min-width: 720px) {
                    padding-top: 0px;
                }
            }
        }
    }
    .entrees {
        h4 {
            font-size: 24px;
            font-weight: 200;
            text-decoration: underline 4px lightblue;
            padding-left: 5%;
        }
        div{
            background-color: white;
            margin-bottom: 15px;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.10);
            p {
                margin-top: 0px;
                margin-bottom: 0px;
                width: 90%;
            }
            .div--strong {
                font-weight: 600;
            }
            section {
                display: flex;
            }
        }
    }
    .plats {
        h4 {
            font-size: 24px;
            font-weight: 200;
            text-decoration: underline 4px lightblue;
            padding-left: 5%;
        }
        div{
            background-color: white;
            margin-bottom: 15px;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.10);
            p {
                margin-top: 0px;
                margin-bottom: 0px;
                width: 90%;
            }
            section {
                display: flex;
            }
            .div--strong {
                font-weight: 600;
            }
        }
    }
    .desserts {
        h4 {
            font-size: 24px;
            font-weight: 200;
            text-decoration: underline 4px lightblue;
            padding-left: 5%;
        }
        div{
            background-color: white;
            margin-bottom: 15px;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.10);
            p {
                margin-top: 0px;
                margin-bottom: 0px;
                width: 90%;
            }
            .div--strong {
                font-weight: 600;
            }
            section {
                display: flex;
            }
        }
    }
    .btn_explorer {
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        background: linear-gradient(to bottom,#FF79DA,#9356DC);
        border: none;
        border-radius: 30px 30px 30px 30px;
        color: white;
        margin: 40px;
        height: 50px;
        width: 200px;
        font-size: 16px;
    }
}