header {
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
  flex-direction: row;
}
header .navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
header .navbar a {
  grid-area: 1/1/2/2;
  padding-left: 50px;
  padding-bottom: 2%;
  font-size: 25px;
  color: black;
}
header .navbar img {
  display: grid;
  grid-area: 1/2/2/3;
  width: 100%;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  max-width: 200px;
}
@media (min-width: 720px) {
  header .navbar img {
    max-width: 200px;
    justify-self: center;
    align-self: center;
  }
}

footer div {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
@media (min-width: 720px) {
  footer div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 50px;
  }
}
footer div i {
  margin-right: 2%;
  width: 5%;
}
footer div a {
  color: white;
  margin-left: 5%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (min-width: 720px) {
  footer div a {
    text-align: center;
    align-self: center;
    margin-left: 15%;
  }
}
footer div img {
  width: 100px;
  margin: 20px;
}
@media (min-width: 720px) {
  footer div img {
    grid-area: 1/5/2/6;
    margin: 20px;
  }
}

.div_bg {
  height: 200px;
}
@media (min-width: 720px) {
  .div_bg {
    height: 350px;
  }
}
.div_bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  position: relative;
}
@media (min-width: 720px) {
  .div_bg img {
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.menu {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Roboto, monospace;
  background-color: #F6F6F6;
  padding-top: 10px;
  border-radius: 50px;
}
@media (min-width: 720px) {
  .menu {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 35px;
  }
}
.menu .section_title {
  display: flex;
  flex-direction: row;
}
@media (min-width: 720px) {
  .menu .section_title {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
  }
}
.menu .section_title h2 {
  padding-left: 5%;
  font-family: Shrikhand;
}
@media (min-width: 720px) {
  .menu .section_title h2 {
    padding-left: 0px;
    font-size: 32px;
  }
}
.menu .section_title button {
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: 20px;
  border: none;
}
.menu .section_title button input {
  font-size: 30px;
  padding-top: 20px;
  position: absolute;
}
@media (min-width: 720px) {
  .menu .section_title button input {
    padding-top: 0px;
  }
}
.menu .entrees h4 {
  font-size: 24px;
  font-weight: 200;
  -webkit-text-decoration: underline 4px lightblue;
          text-decoration: underline 4px lightblue;
  padding-left: 5%;
}
.menu .entrees div {
  background-color: white;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.menu .entrees div p {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90%;
}
.menu .entrees div .div--strong {
  font-weight: 600;
}
.menu .entrees div section {
  display: flex;
}
.menu .plats h4 {
  font-size: 24px;
  font-weight: 200;
  -webkit-text-decoration: underline 4px lightblue;
          text-decoration: underline 4px lightblue;
  padding-left: 5%;
}
.menu .plats div {
  background-color: white;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.menu .plats div p {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90%;
}
.menu .plats div section {
  display: flex;
}
.menu .plats div .div--strong {
  font-weight: 600;
}
.menu .desserts h4 {
  font-size: 24px;
  font-weight: 200;
  -webkit-text-decoration: underline 4px lightblue;
          text-decoration: underline 4px lightblue;
  padding-left: 5%;
}
.menu .desserts div {
  background-color: white;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.menu .desserts div p {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90%;
}
.menu .desserts div .div--strong {
  font-weight: 600;
}
.menu .desserts div section {
  display: flex;
}
.menu .btn_explorer {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px 30px 30px 30px;
  color: white;
  margin: 40px;
  height: 50px;
  width: 200px;
  font-size: 16px;
}/*# sourceMappingURL=restau.css.map */